{% load static %}

<!DOCTYPE html>
<html>

<head>
<link href="../static/media/logo.jpg" rel="icon">
<link href="../static/css/base.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block title %}
{% endblock %}
</head>

<body>

<header>
    <div class="container">
        <div class="hamburguer">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="site-branding">
            <div class="logo-box">
                <a class='logo' href="{% url 'products:home' %}">Scicrack</a>
            </div>
        </div>
        <nav id="site-navigation" class="main-navigation">
            <div class="menu-nav">
                <div class="nav-item">
                    <a class='add-link hamb-item' href="{% url 'products:list_products' %}">EQUIPMENT</a>
                </div>
                <div class="nav-item">
                    <a class='add-link hamb-item' href="{% url 'products:list_products' %}">CONSUMABLES</a>
                </div>
                <div class="nav-item">
                    <a class='add-link hamb-item' href="{% url 'products:support' %}">SUPPORT</a>
                </div>
            </div>
            <div class="menu-nav">
                <div class="nav-item">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 box-search">
                        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                    </form>
                </div>
                <div class="nav-item">
                    <a class='add-link' href="{% url 'products:login' %}">Login/Register</a>
                </div>
                <div class="nav-item">
                    <a class='add-link' href="{% url 'products:wishlist' %}">Wishlist</a>
                </div>
                <div class="nav-item">
                    <a href="{% url 'products:cart' %}">
                        <button id='btn-basket'></button>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>
{% block content %}
{% endblock %}
<footer>
    <hr>
    <div>
        <div class="pay">
            <h4 class="pay-label">PAY SECURELY WITH PAYPAL</h4>
            <button class="paypal"></button><br><br>
            <h4 class="pay-label">SUBSCRIBE TO OUR NEWSLETTER!</h4>
            <form method="POST" action="{% url 'products:news-sign-in' %}">
                {% csrf_token %}
                <input type="text" placeholder="First Name" name="name">
                <input type="email" placeholder="Email" name="email">
                <button type="submit">Submit</button>
            </form>
        </div>
        <ul>
            <div>
                <li>
                    <a href="{% url 'products:about' %}">ABOUT</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="{% url 'products:faq' %}">FAQ</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="{% url 'products:privacy' %}">PRIVACY POLICY</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="{% url 'products:shipping' %}">SHIPPING</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="{% url 'products:returns' %}">RETURNS</a>
                </li>
            </div>
            <div>
                <li>
                    <a href="{% url 'products:terms' %}">TERMS OF USE</a>
                </li>
            </div>
        </ul>
        <div class="copyright">
            <h5>© 2021 SCICRACK ALL RIGHTS RESERVED</h5>
        </div>
    </div>
</footer>
</body>

</html>