{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Scicrack</title>
<link href="../static/css/style_home.css" rel="stylesheet">
<link href="../static/css/glider.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main>

<section class="home-sec" id="main-section">
    <div class="main-logo ml1">
        <h1 class="slogan">STAY PRODUCTIVE</h1>
    </div>
    <div class="main-logo">
        <div class="slg2">
            <p class="slogan2">Let us take you to the next level in scientific development,<br> with the best technological solutions on the market!</p>
        </div>
    </div>
    <div class="main-logo">
        <a href="{% url 'products:list_products' %}">
            <button id='shop-now'>SHOP NOW</button>
        </a>
    </div>
</section>

<section class="home-sec" id="category-section">
    <a class="category" id="category-item-1" href="{% url 'products:list_products' %}">
        <div class="shop">
            <h1 class="slogan3">CONSUMABLES</h1>
            <div class="slg2 slg3">
                <p class="slogan4">Explore options for culture media,<br> reagents and extraction kits</p>
            </div>
            <h4 class="shop-now-redirect">
                SHOP NOW
                <img src="{% static '/media/seta.png' %}">
            </h4>
        </div>
    </a>
    <a class="category" id="category-item-2"  href="{% url 'products:list_products' %}">
        <div class="shop">
            <h1 class="slogan3">EQUIPMENTS</h1>
            <div class="slg2 slg3">
                <p class="slogan4">Our selection of microscopes, centrifuges, incubators,<br> among other laboratory equipment.</p>
            </div>
            <h4 class="shop-now-redirect">
                SHOP NOW
                <img src="{% static '/media/seta.png' %}">
            </h4>
        </div>
    </a>
</section>

<section class="home-sec" id="trending-items">
    <div class="margin-slider">

        <div class="glider-contain multiple">

            <div class="list-trending tnd1">
                <h4 class="checkout">CHECKOUT OUR</h4>
            </div>
            <div class="list-trending">
                <h4 class="trending">HOTTEST TRENDING ITEMS</h4>
            </div>

            <button class="glider-prev">
                <i class="fa fa-chevron-left"></i>
            </button>

            <div class="glider">
                {% for item in products %}
                    <div class="centralize-product">
                        <div class="item-width">
                            <div class="item-image">
                                <img src="/media/{{ item.image }}">
                            </div>
                            <div class="item-title">
                                <h4>{{ item.product }}</h4>
                            </div>
                            <div class="item-price">
                                <h4>${{ item.price }}</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <button class="glider-next">
                <i class="fa fa-chevron-right"></i>
            </button>

        </div>
    </div>
</section>

<script src="../static/glider.min.js"></script>
<script>

    new Glider(document.querySelector('.glider'), {
        slidesToShow: 4,
        draggable: true,
        arrows: {
            prev: '.glider-prev',
            next: '.glider-next'
        }
    })
</script>
</main>
{% endblock %}