{% extends "base.html" %}

{% block title %}
<title>Scicrack</title>
<link href="../static/css/info.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="support">
        <h1>PRIVACY POLICY</h1>
        <p><strong>Personal Information</strong></p>
        <p>The Modern Pack dedicates itself in providing a safe and positive experience to all our customers. With that, we want to let you know about our procedures and standards in the use our website. When shopping at The Modern Pack, we collect some of your personal details, particularly those provided when you create your account, when making a purchase as well as those collected by cookies.</p>
        <p><strong>Cookies – What and How We Use Them</strong></p>
        <p>Cookies refer to tiny text files stored on the hard drive of your device whenever you visit websites. The Modern Pack website uses cookies for the purpose of web statistics, web functionality and advertising. Some of the cookies we use are vital to ensure our site functions properly.</p>
        <p>We use these cookies in keeping track of your account’s settings as well as in making your shopping experience with us truly convenient. This is because cookies are what allow us to recognize your device and remember your settings and preferences.</p>
        <p>At the same time, we also use cookies for collecting usage data such as the pages you viewed, the duration of your session, if you made a transaction or not, as well as collecting demographic data such as your age and gender.</p>
        <p>All of this information is vital in ensuring we can provide the best shopping experience to all our customers. Rest assured that the information we collected through the cookies could not be used for identifying or tracking individuals.</p>
        <p><strong>Disclosure of Collected Information</strong></p>
        <p>You reserve the right to access your data, as well as remove or change it if there is anything incorrect. In terms of the cookies, you can disable them and delete any already stored cookies by changing your browser settings.</p>
        <p>If you want, you can also use programs that prevent the use of cookies. However, please keep in mind that in doing so you may prevent our website from properly functioning and giving you the best shopping experience.</p>
        <p><strong>Third Parties</strong></p>
        <p>The collected information through the website may be shared with our partners but only for analytical purposes. Rest assured that there are no personal information shared, traded or published beyond that of our company and our partners.</p>
        <p>The company does not claim ownership to such content’s rights, whether image, photos, videos, etc. nor do we take any legal responsibility for it. In the case of a suspected violations of the copyright of these contents or any other rights, or that you might be offended by these contents, please do not hesitate to contact our customer service.</p>
        <p>All of The Modern Pack‘s products are our property until the customer makes full payment.</p>
    </div>
</main>
{% endblock %}