{% extends "base.html" %}

{% block title %}
<title>Scicrack</title>
<link href="../static/css/info.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="support">
        <h1>RETURNS AND EXCHANGES</h1>
        <p><strong>Unsatisfied Purchase</strong></p>
        <p>The Modern Pack wants our customers to have only the best possible buying experience with us. As such, our focus is not just in providing them with premium quality handmade products but also that they have no reason to feel unsatisfied.</p>
        <p>However, for the rare cases of customers not completely satisfied with their purchase, rest assured you could exchange or return the products you bought. Our Returns and Exchange policies allow you to return the product and refund it within 10 days after receiving the item. On the other hand, you have 14 days to exchange the item for a new product or store credit.  All returns require a 20% non-refundable restocking fee.</p>
        <p>If you are worried about the return shipment, rest assured we understand that it may take some time for the returned item to get back to our warehouse. For that reason, we only need it that you shipped the item within the days stipulated, not that it should be delivered within that time.</p>
        <p>Before you return the item, please make sure that you first contacted us in order to obtain a Return Authorization Number. You need this number before you ship the item back to our warehouse. Note that all items returned must be in new and unused condition. They must still have their original packaging attached to the items.</p>
        <p>Please be advised as well that the return postage costs are the customer’s responsibility. If there are shipping fees applicable, we are sorry to say that they are non refundable. To begin the refund or exchange process, please send us an email or send us a message through the Contact Us page.</p>
        <p><strong>Faulty Product Returns</strong></p>
        <p>If you receive a product that is faulty, different from the sample or is incorrectly described, we will provide an exchange or refund for the said item. We will provide an exchange or return as long as the product is returned within a stipulated time along with the proof of purchase.</p>
        <p>If you cannot find your receipt, your bank statement is fine. If you don’t have your receipt and bank statement, please get in touch with us and we will do our best to track your records down. Below is the process for returning your orders for refund or exchange.</p>
        <p><strong>Return Process</strong></p>
        <p>With your orders purchased online, you may also return it to our online store. All you need to do is to follow these simple steps:</p>
        <ul>
            <li style="font-weight: 400;">
                <span style="font-weight: 400; outline: none;">Visit our website to send us a message or send us an email to commence the return process.</span>
            </li>
            <li style="font-weight: 400;">
                <span style="font-weight: 400;">When we receive your message, we will give you a Return Authorization Number to track your returned items. </span>
            </li>
            <li style="font-weight: 400;">
                <span style="font-weight: 400;">Make sure to send the item on a reasonable time. Include your receipt and ensure the item has the original packaging.</span>
            </li>
        </ul>
        <p>Once we received the item, we will process the refund or exchange. We will notify you through email. Depending on the payment method used during your order, your refund will be credited within the next 1 to 5 days. If the send items does not meet our terms in the Returns and Exchange Policy, we will ship them back to you.</p>
    </div>
</main>
{% endblock %}