{% extends "base.html" %}

{% block title %}
<title>Scicrack</title>
<link href="../static/css/info.css" rel="stylesheet">
{% endblock %}

{% block content %}
<main>
    <div class="support">
        <h1>TERMS OF USE</h1>
        <p><strong>Introduction</strong></p>
        <p>These terms of use apply to your use of and purchases from The Modern Pack website. This also forms a contract between you and the company. By making a purchase from or using the The Modern Pack website means you have agreed to the terms and conditions. Before using the website or making a purchase, please ensure that you have read and understood all these terms.</p>
        <p><strong>Personal Information</strong></p>
        <p>When you shop at The Modern Pack website, we will save some of your personal details for the fulfillment of your purchase. Our company treats all personal information with strict confidentiality. If you request to have access to all your personal information to have it changed or remove, please simply contact our company. Please note that our website also uses cookies to improve your experience using the website.</p>
        <p><strong>Confirmation of Purchase</strong></p>
        <p>Upon receiving your order, The Modern Pack will send to your email address an electronic invoice to confirm your purchase. It is strictly important that you provide your correct email address when you place your order for confirmation of your order.  Your email address is also important for facilitating contact with our customer service in the future. At the same time, the order confirmation serves as your proof of purchase.</p>
        <p><strong>Payment of Purchases</strong></p>
        <p>To pay for your purchases, you can either use your credit or debit cards or use PayPal. The Modern Pack does not store any of user’s credit card numbers. When paying using your card – with your Visa, MasterCard or American Express – rest assured it will securely transferred over the Internet. We ensure to transfer your payment in secure encryption and strict banking standards.</p>
        <p>We send your card details directly to the bank, which no other bank can read or access except yours. The Modern Pack does not charge extra costs for your payments using your card. However, depending on the car and bank you use, you may have additional free charged by the bank. Remember that as soon as you paid using your card, the starting conditions apply the moment of the payment’s approval. Our bank reserves the right to cancel your order if failure to receive payment after a certain period.</p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</main>
{% endblock %}