* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111918;
    width: 100%;
    min-width: 1200px;
    height: 7vh;
    z-index: 5;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.site-branding {
    font-size: 1.7rem;
    width: max-content;
    min-width: max-content;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    overflow-y: hidden;
}

.logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.logo {
    text-decoration: none;
    background: linear-gradient(to bottom right, #EEE504, #E6C20A);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    overflow-y: hidden;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container a {
    text-decoration: none;
    color: #FCFFFC;
}

.container a:hover {
    opacity: .8;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 980px;
    justify-content: space-between;
    height: 100%;
    flex-wrap: nowrap;
    width: 80%;
    padding-left: 4%;
}

.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    height: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: hidden;
}

.nav-item a {
    overflow-y: hidden;
}

.box-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-basket {
    margin-left: 20px;
    border-style: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('../media/carrinho.png');
    background-size: cover;
    cursor: pointer;
    outline: none;
    overflow-y: hidden;
}

@media screen and (max-width: 360px) {
    .line {
        width: 30px;
        height: 3px;
        background: #FCFFFC;
        left: 5%;
        margin: 5px;
    }
    .container {
        position: relative;
    }
    .hamburguer {
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translate(5%, -50%);
    }
}


footer {
    color: #fcfffc79;
    font-weight: 300;
}

footer div {
    margin-top: 10px;
}

footer div ul {
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 1%;
}

hr {
    color: #111918;
}

footer div ul li {
    font-size: small;
    max-width: max-content;
    flex-direction: column;
    padding-top: 0.1%;
    padding-bottom: 0.3%;
    opacity: 60%;
    display: flex;
    color: #FCFFFC;
    text-decoration: none;
} :hover {
    opacity: 100%;
}

footer div ul li a {
    text-decoration: none;
    color: #FCFFFC;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 5vh;
    background-color: black;
}

h5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}

.pay {
    color: #FCFFFC;
    position: absolute;
    width: 30%;
    padding-left: 50%;
} .pay-label {
    font-size: 0.9rem;
    font-style: normal;
    padding-bottom: 1.5%;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 1.6%;
}

.pay form input {
    height: 2.5vh;
    width: 10vw;
    outline: none;
    border-radius: 10px;
    color: #111918;
    border-color: #FCFFFC;
}

.pay form button {
    border-color: #FCFFFC;
    width: 5vw;
    outline: none;
    border-radius: 10px;
    height: 2.5vh;
}

.paypal {
    border-style: none;
    margin-top: 1%;
    width: 219px;
    height: 76px;
    background-color: transparent;
    background-image: url('../media/paypal.jpg');
    background-size: cover;
    cursor: pointer;
    outline: none;
}