/* 
#0B1214 - rgb(11, 18, 20)
#111617 - rgb(17, 22, 23)
#E6C407 - rgb(230, 196, 7)
#EAD30B - rgb(234, 211, 11)
#ECE206 - rgb(236, 226, 6)
#FCFFFC - rgb(252, 255, 252)
*/

body {
    background-size: 100%;
    font-size: 62.5%;
    background-color: #111617;
    min-width: 1200px;
}

.home-sec {
    width: 100%;
    height: max-content;
}

#main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../media/banner.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.main-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ml1 {
    margin-top: 4.5%;
}

.slogan {
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    font-size: 4rem;
    text-decoration: none;
    text-shadow: 2px 2px 1px #E6C20A;
    color: #111617;
}

.slg2 {
    margin-top: 1%;
    width: max-content;
    background-color: #1116177a;
    border-radius: 20px;
}

.main-logo a {
    margin-top: 1.7%;
}

#shop-now {
    width: 175px;
    height: 60px;
    background: #fcfffc4f;
    border: 2px solid #111617;
    cursor: pointer;
}

#shop-now:hover {
    background: #fcfffc28;
}

.slogan2 {
    text-align: center;
    font-size: 1.3rem;
    color: #FCFFFC;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

#category-section {
    height: 60vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2px;
}

.category {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E6C407;
    text-decoration: none;
}

#category-item-1 {
    background-image: url("../media/petri.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

.shop {
    width: max-content;
    height: max-content;
    margin-top: 1.5%;
    margin-left: 2.5%;
}

.slogan3 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    text-shadow: 2px 2px 1px #111617;
    color: #E6C20A;
}

.slogan4 {
    text-align: center;
    font-size: 1.3rem;
    color: #FCFFFC;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.slg3 {
    margin-top: 4%;
}

.shop-now-redirect {
    font-size: 1rem;
    margin-top: 10%;
    margin-left: 3%;
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    text-shadow: 2px 2px 1px #111617;
    color: #E6C20A;
}

.shop-now-redirect img {
    width: 12px;
    height: 12px;
    margin-left: 10px;
}

#category-item-2 {
    background-image: url("../media/lab_equipment.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
}

#trending-items {
    height: 70vh;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-trending {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    color: #FCFFFC;
}

.tnd1 {
    margin-top: 3%;
}

.glider {
    padding-top: 2%;
    color: #FCFFFC;
    margin-left: 30px;
    margin-right: 30px;
}

.margin-slider {
    width: 90%;
}

.centralize-product {
    margin: 1.5em;
    padding: .7em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-width:hover {
    border: solid 1px gray;
    cursor: pointer;
    text-decoration: underline white;
}

.item-image img {
    margin-top: 30%;
    width: 210px;
    height: 210px;
}

.item-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-width {
    width: 70%;
    background: #fcfffc2a;
}

.item-title {
    text-align: center;
    margin-top: 20%;
    font-size: 1.3rem;
}

.item-price {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5rem;
}

.glider-next {
    margin-right: 50px;
    margin-top: 9%;
}

.glider-prev {
    margin-left: 50px;
    margin-top: 9%;
}