* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #111918;
}

header {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111918;
    width: 100%;
    height: 7vh;
    z-index: 5;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.site-branding {
    font-size: 1.7rem;
    width: max-content;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    overflow-y: hidden;
}

.logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.logo {
    text-decoration: none;
    background: linear-gradient(to bottom right, #EEE504, #E6C20A);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    overflow-y: hidden;
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container a {
    text-decoration: none;
    color: #FCFFFC;
}

.container a:hover {
    opacity: .8;
}

.main-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    flex-wrap: nowrap;
    width: 80%;
    padding-left: 4%;
}

.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: space-around;
    height: 100%;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: hidden;
}

.nav-item a {
    overflow-y: hidden;
}

.box-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-basket {
    margin-left: 20px;
    border-style: none;
    width: 25px;
    height: 25px;
    background-color: transparent;
    background-image: url('../media/carrinho.png');
    background-size: cover;
    cursor: pointer;
    outline: none;
    overflow-y: hidden;
}

.form-box {
    color: #FAFAFF;
    cursor: default;
    width: 380px;
    height: 480px;
    position: relative;
    background-color: #272C2C;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 6% auto;
    margin-top: 12%;
	padding: 5px;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #fafaff10;
    border-radius: 30px;
}

.btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #EEE504, #E6C20A);
    border-radius: 30px;
    transition: .5s;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: #FAFAFF;
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #FAFAFF;
    background: #272C2C;
    outline: none;
    margin-bottom: 10px;
}

.input-group input {
    color: #f00;
}

.input-group input:focus {
    color: #f00;
}

.input-group button {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    background: linear-gradient(to right, #EEE504, #E6C20A);
    outline: none;
    border-radius: 30px;
    color: #FAFAFF;
    margin-left: 25px;
    border: none;
}

h5 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

h5 a {
    text-decoration: none;
    color: #FAFAFF;
}

.input-group {
    position: absolute;
    top: 135px;
    width: 280px;
    transition: .5s;
}

#login {
    left: 60px;
}

#register {
    left: 460px;
    display: none;
}

.checkboxes label {
    margin-left: 0;
    display: flex;
    text-align: center;
}

.checkboxes label input {
    margin-left: -50px;
}

.checkboxes label span {
    margin-right: 30px;
    margin-left: -70px;
    font-size: 14px;
}
