body {
    background-size: 100%;
    font-size: 62.5%;
    background-color: #111918;
}

.main-section {
    width: 100%;
    height: 100vh;
}

.support {
    position: absolute;
    left: 0%;
    top: 20%;
    width: 100%;
    height: 60%;
    align-items: center;
    text-align: center;
    background: #111617;
    background: -webkit-linear-gradient(to right, #111617, #FCFFFC);
	background: linear-gradient(to right, #111617, #FCFFFC);
    font-size: 1.2rem;
}

.support h1 {
    font-weight: bold;
    font-family: 'Krona One', sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #E6C20A;
    color: #111617;
    margin-top: 3%;
}

.support h3 {
    margin-top: 5%;
    color: white;
}

.support p {
    color: white;
}